@section Header
{
    <title>@LocaleResources.Views.News.Index.News</title>

    <script type="text/html" id="listitem">
        <li class="row pt-3">
            <div class="col-8 order-0">
                <h3 data-bind="text: Heading"></h3>
                <h4 data-bind="html: SubHeading"></h4>
                <div class="col-12 full-column" data-bind="html: Detail"></div>
            </div>
            <div class="col-4 order-1 picture">
                <a href="#" data-bind="click: function(data, event) { $parent.resetFormForEditing($index); $('#__form_news_image').dialog('open');}"><img class="img-fluid" data-bind="attr:{src: PictureLink() }" /></a>
            </div>
        </li>
        <li class="row pt-1">
            <div class="col order-first">
                <div class="d-flex justify-content-start">
                    <a class="pr-2" href="#" data-bind="attr: { href: Link1 } ">@LocaleResources.Contents.Advertisement.Link1</a>
                    <a class="pr-2" href="#" data-bind="attr: { href: Link2 } ">@LocaleResources.Contents.Advertisement.Link2</a>
                </div>
            </div>
            <div class="col order-last">
                <div class="d-flex justify-content-end">
                    <a class="pr-2" href="#" data-bind="click: function(data, event) { $parent.resetFormForEditing($index); $('#__form_news_video').dialog('open');}">@SharedLibrary.Resources.Global.FormMessages.ViewVideo</a>
                </div>
            </div>
        </li>
    </script>
    
    <script type="text/html" id="viewimage">
        <img class="img-fluid d-block m-auto" data-bind="attr: { src: PictureLink() }"/>
    </script>

    <script type="text/html" id="viewvideo">
        <p>
            <video src="#" data-bind="attr:{src: $data.VideoLink() }" controls width="500" class="center-content"></video>
        </p>
    </script>
}

@section PagePath {
}

<section id="news">
    <div class="container">
        <h2>@LocaleResources.Views.News.Index.News</h2>
        @Controls.List.ListComposer.composeList("list_news", "", null, null, "news-list p-0")
    </div>

    <div style="display: none">
        @Controls.Form.FormComposer.composeForm("__form_news_image", null, null, @SharedLibrary.Resources.Global.FormMessages.ImageViewForm, "<div data-bind=\"template: {name: 'viewimage' }\"></div>", "view", null, null, null, false)
        @Controls.Form.FormComposer.composeForm("__form_news_video", null, null, @SharedLibrary.Resources.Global.FormMessages.ViewVideo, "<div data-bind=\"template: {name: 'viewvideo' }\"></div>", "view", null, null, null, false)
        
        @Controls.List.ListComposer.composeStandardActions(null, "#", true)

        @Controls.List.ListComposer.composeStandardListing(null, "__form_product_image", true)
    </div>
</section>

@section Scripts
{
    <script src="~/Scripts/ViewModels/Advertisement.js" type="text/javascript"></script>

    <script type="text/javascript">

        var newsView = new CRUDView({
            'uri': '/news',
            'observer': new CRUDObserver({ 'contentType': new Advertisement({}), 'messages': intialize(new MessageRepository()) })
        });

        $(function () {

            ko.applyBindings(newsView.getObserverObject());

            $('#__form_news_image').dialog({ autoOpen: false, width: 800 });
            $('#__form_news_video').dialog({ autoOpen: false, width: 800 });

            newsView.find(1);
        });
    </script>
}