@section Header
{
    <title>@LocaleResources.Views.Advertisement.Index.Page</title>

    <script type="text/html" id="headings">
        <tr>
            <th class="col-8" scope="col">
                <span class="d-flex align-content-start" title="@LocaleResources.Contents.Advertisement.Heading">@LocaleResources.Contents.Advertisement.Heading</span>
            </th>
            <th class="col-4" scope="col">
                <span class="d-flex align-content-start">
                    <span title="@LocaleResources.Contents.Advertisement.Picture">@LocaleResources.Contents.Advertisement.Picture</span>, <span title="@LocaleResources.Contents.Advertisement.Video">@LocaleResources.Contents.Advertisement.Video</span>
                </span>
            </th>
        </tr>
    </script>

    <script type="text/html" id="rows">
        <tr>
            <td>
                <h3><span class="d-flex align-content-start" data-bind="text: Heading()"></span> </h3>
                <h4><span class="d-flex align-content-start" data-bind="html: SubHeading()"></span> </h4>
                <p class="paragraph-normal-text d-flex align-content-start" data-bind="html: Detail()"></p>
                <p class="paragraph-normal-text d-flex align-content-start">
                    <span class="form-label">@LocaleResources.Contents.Advertisement.Page: <span class="field-value" data-bind="text: Page()"></span></span>,
                    <span class="form-label">@LocaleResources.Contents.Advertisement.Location: <span class="field-value" data-bind="text: Location()"></span></span>,
                    <span class="form-label">@LocaleResources.Contents.Advertisement.SortOrder: <span class="field-value" data-bind="text: SortOrder()"></span></span>

                </p>
                <p class="paragraph-normal-text d-flex align-content-start">
                    <span class="form-label">@LocaleResources.Contents.Advertisement.Source: <span class="field-value" data-bind="text: Source()"></span></span>,
                    <span class="form-label">@LocaleResources.Contents.Advertisement.News: <span class="field-value" data-bind="text: News()"></span></span>,
                    <span class="form-label">@LocaleResources.Contents.Advertisement.Enabled: <span class="field-value" data-bind="text: Enabled()"></span></span>
                </p>
                <p class="paragraph-normal-text d-flex align-content-start">
                    <a class="form-link-small" href="#" data-bind="attr: { href: Link1() } ">@LocaleResources.Contents.Advertisement.Link1</a>
                    <a class="form-link-small" href="#" data-bind="attr: { href: Link2() } ">@LocaleResources.Contents.Advertisement.Link2</a>
                </p>
            </td>
            <td>
                <p><a href="#" data-bind="click: function(data, event) { $parent.resetFormForEditing($index); $('#__form_advertisement_image').dialog('open');}"><img class="img-fluid d-block m-auto" data-bind="attr: { src: PictureLink() }" /></a></p>
                <p class="paragraph-normal-text d-flex align-content-end">
                    <span class="d-flex align-content-end"><a class="form-link-small" href="#" data-bind="click: function(data, event) { $parent.resetFormForEditing($index); $('#__form_advertisement_video').dialog('open'); }">@SharedLibrary.Resources.Global.FormMessages.ViewVideo</a></span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="hidden-phone visible-desktop action-buttons d-flex align-content-start">
                    <a class="green" href="#" data-bind="click: function(data, event) { $parent.resetFormForEditing($index); $('#__form_advertisement').dialog('open'); }" title="@SharedLibrary.Resources.Global.FormMessages.EditD"><i class="fa fa-edit text-success"></i>@SharedLibrary.Resources.Global.FormMessages.Edit</a>
                    <a class="red" href="#" data-bind="click: function(data, event) { $parent.delete( { content: $data, TimeFields: [ 'RecordTime', 'UpdateTime' ] } ); }" title="@SharedLibrary.Resources.Global.FormMessages.DeleteD"><i class="fa fa-times text-danger"></i>@SharedLibrary.Resources.Global.FormMessages.Delete</a>
                </div>
            </td>
        </tr>
    </script>

    <script type="text/html" id="formcontent">
        <form id="__uploadform_advertisement">
            <div class="form-row form-group">
                <div class="col-12">
                    <label class="control-label d-flex align-content-start" for="Heading">
                        @LocaleResources.Contents.Advertisement.Heading
                    </label>
                    <input data-bind="value: $root.EditMode() ? Heading : Heading" id="Heading" name="Heading" type="text" title="@LocaleResources.Contents.Advertisement.Heading"
                           maxlength="100" placeholder="" class="form-control" /><span class="error"
                                                                                       data-bind="validationMessage: Heading"></span>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-12">
                    <label class="control-label d-flex align-content-start" for="SubHeading">
                        @LocaleResources.Contents.Advertisement.SubHeading
                    </label>
                    <div class="controls">
                        <input data-bind="value: $root.EditMode() ? SubHeading : SubHeading" id="SubHeading" name="SubHeading" title="@LocaleResources.Contents.Advertisement.SubHeading"
                               type="text" maxlength="100" placeholder="" class="form-control" /><span class="error" data-bind="validationMessage: SubHeading"></span>
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-12">
                    <label class="control-label d-flex align-content-start" for="Detail">
                        @LocaleResources.Contents.Advertisement.Detail
                    </label>
                    <textarea data-bind="value: $root.EditMode() ? Detail : Detail" class="form-control" title="@LocaleResources.Contents.Advertisement.Detail"
                              id="Detail" name="Detail" maxlength="1024" rows="3" placeholder=""></textarea><span class="error" data-bind="validationMessage: Detail"></span>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-12">
                    <label class="control-label d-flex align-content-start" for="Link1">
                        @LocaleResources.Contents.Advertisement.Link1
                    </label>
                    <input data-bind="value: $root.EditMode() ? Link1 : Link1" id="Link1" name="Link1" type="text" title="@LocaleResources.Contents.Advertisement.Link1"
                           maxlength="512" placeholder="" class="form-control" /><span class="error" data-bind="validationMessage: Link1"></span>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-12">
                    <label class="control-label d-flex align-content-start" for="Link2">
                        @LocaleResources.Contents.Advertisement.Link2
                    </label>
                    <input data-bind="value: $root.EditMode() ? Link2 : Link2" id="Link2" name="Link2" type="text" title="@LocaleResources.Contents.Advertisement.Link2"
                           maxlength="512" placeholder="" class="form-control" /><span class="error" data-bind="validationMessage: Link2"></span>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-2 order-0">
                    <label class="control-label d-flex align-content-start" for="Source">
                        @LocaleResources.Contents.Advertisement.Source
                    </label>
                    <input data-bind="value: $root.EditMode() ? Source : Source" id="Source" name="Source" type="text" title="@LocaleResources.Contents.Advertisement.Source"
                           maxlength="100" placeholder="" class="form-control" /><span class="error" data-bind="validationMessage: Source"></span>
                </div>

                <div class="col-4 order-1">
                    <label class="control-label d-flex align-content-start" for="Page">
                        @LocaleResources.Contents.Advertisement.Page
                    </label>
                    <select data-bind="options: $root.Pages, optionsText: 'val', optionsValue: 'val', value: Page, optionsCaption: '@SharedLibrary.Resources.Global.FormMessages.Select'" title="@LocaleResources.Contents.Advertisement.Page"
                            id="Page" name="Page" class="form-control"></select><span class="error" data-bind="validationMessage: Page"></span>
                </div>
                <div class="col-4 order-2">
                    <label class="control-label d-flex align-content-start" for="Location">
                        @LocaleResources.Contents.Advertisement.Location
                    </label>
                    <select data-bind="options: $root.Locations, optionsText: 'val', optionsValue: 'val', value: Location, optionsCaption: '@SharedLibrary.Resources.Global.FormMessages.Select'" title="@LocaleResources.Contents.Advertisement.Location"
                            id="Location" name="Location" class="form-control"></select><span class="error" data-bind="validationMessage: Location"></span>
                </div>
                <div class="col-2 order-4">
                    <label class="control-label d-flex align-content-start" for="SortOrder">
                        @LocaleResources.Contents.Advertisement.SortOrder
                    </label>
                    <input data-bind="value: $root.EditMode() ? SortOrder : SortOrder" id="SortOrder" name="SortOrder" type="text" title="@LocaleResources.Contents.Advertisement.SortOrder"
                           maxlength="4" placeholder="" class="form-control" /><span class="error" data-bind="validationMessage: SortOrder"></span>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-12">
                    <label class="control-label d-flex align-content-start" for="upload">
                        @SharedLibrary.Resources.Global.FormMessages.Upload
                    </label>
                    <div class="input-group d-flex align-content-start">
                        <select class="col-2 form-control order-first" id="uploadType" name="uploadType">
                            <option value="image">image</option>
                            <option value="video">video</option>
                        </select>
                        <input class="col-10 form-control form-control-file order-last" id="upload" name="upload" type="file" />
                    </div>
                    <input id="recordid" name="recordid" type="hidden" data-bind="value: $data.getKey()" />
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-4 order-0">
                    <label class="control-label d-flex align-content-start" for="News">
                        @LocaleResources.Contents.Advertisement.News
                    </label>
                    <input class="form-check d-flex align-content-start" data-bind="checked: $root.EditMode() ? News : News" id="News" name="News" title="@LocaleResources.Contents.Advertisement.News"
                           type="checkbox" /><span class="error" data-bind="validationMessage: News"></span>
                </div>
                <div class="col-4 order-1">
                    <label class="control-label d-flex align-content-start" for="Enabled">
                        @LocaleResources.Contents.Advertisement.Enabled
                    </label>
                    <input class="form-check d-flex align-content-start" data-bind="checked: $root.EditMode() ? Enabled : Enabled" id="Enabled" name="Enabled" title="@LocaleResources.Contents.Advertisement.Enabled"
                           type="checkbox" /><span class="error" data-bind="validationMessage: Enabled"></span>
                </div>
                <div class="col-4 order-2">

                </div>
            </div>
            <input id="UID" name="UID" type="hidden" data-bind="value: UID" />
            <input id="ReferenceID" name="ReferenceID" type="hidden" data-bind="value: ReferenceID" />
            <input id="RecordTime" name="RecordTime" type="hidden" data-bind="value: RecordTime" />
            <input id="UpdateTime" name="UpdateTime" type="hidden" data-bind="value: UpdateTime" />

            <input id="Picture" name="Picture" type="hidden" data-bind="value: Picture" />
            <input id="Video" name="Video" type="hidden" data-bind="value: Video" />
        </form>
        <div class="clear-fix">
        </div>
    </script>

    <script type="text/html" id="viewimage">
        <img class="img-fluid d-block m-auto" data-bind="attr: {src: $data.PictureLink() }" />
    </script>

    <script type="text/html" id="viewvideo">
        <p>
            <video src="#" data-bind="attr:{src: $data.VideoLink() }" controls width="500" class="center-content"></video>
        </p>
    </script>
}

<div class="container">
    <h2 class="d-flex align-content-start">@LocaleResources.Views.Advertisement.Index.Page</h2>
    <p class="d-flex align-content-start">@LocaleResources.Views.Advertisement.Index.PageD</p>
</div>

@Controls.Grid.GridComposer.composeStandardActions(null, "#__form_advertisement", false, null, null, false)

@Controls.Grid.GridComposer.composeStandardListing(null, "#__form_advertisement", true)

@Controls.Grid.GridComposer.composeGrid(null, null, null, null, null, null, null, null, null, null)

<div style="display: none">
    @Controls.Form.FormComposer.composeForm("__form_advertisement", null, null, null, "<div data-bind=\"template: {name: 'formcontent' }\"></div>", null, "create( { \"target\": \"CreateContent\", \"form\":\"__uploadform_advertisement\" })", "update( {\"target\": \"UpdateContent\", \"form\":\"__uploadform_advertisement\", \"TimeFields\": [ \"RecordTime\", \"UpdateTime\" ] })", null, false)

    @Controls.Form.FormComposer.composeForm("__form_advertisement_image", null, null, @SharedLibrary.Resources.Global.FormMessages.ImageViewForm, "<div data-bind=\"template: {name: 'viewimage' }\"></div>", "view", null, null, null, false)

    @Controls.Form.FormComposer.composeForm("__form_advertisement_video", null, null, @SharedLibrary.Resources.Global.FormMessages.VideoViewForm, "<div data-bind=\"template: {name: 'viewvideo' }\"></div>", "view", null, null, null, false)
</div>

@section Scripts {

    <script src="~/Scripts/ViewModels/Advertisement.js" type="text/javascript"></script>

    <script type="text/javascript">

        var crudView = new CRUDView({
            'uri': '/admin/advertisement',
            'objectkey': '@ViewData["ReferenceID"]',
            'observer': new CRUDObserver({ 'contentType': new Advertisement({}), 'messages': intialize(new MessageRepository()) }),
            'progressEvent': true,
            'fields': [
                {
                    'field': 'Pages',
                    'key': 'UID',
                    'value': 'Name',
                    'uri': '/admin/advertisementpage',
                    'target': 'ListAll'
                },
                {
                    'field': 'Locations',
                    'key': 'UID',
                    'value': 'Name',
                    'uri': '/admin/advertisementlocation',
                    'target': 'ListAll'
                }
            ]
        });

        crudView.getObserverObject().setListSource(crudView);

        $('#__form_advertisement').dialog({ autoOpen: false, width: "auto", maxWidth: 1000 });
        $('#__form_advertisement_image').dialog({ autoOpen: false, width: "auto", maxWidth: 1000 });
        $('#__form_advertisement_video').dialog({ autoOpen: false, width: "auto", maxWidth: 1000 });

        $(function () {

            ko.applyBindings(crudView.getObserverObject());
            crudView.load();
        });
    </script>
}