@section Header
{
    <title>@Application.Views.Product.Index.PageT</title>

    <script type="text/html" id="listitem">
        <li class="">
            <a href="#" target="_blank" data-bind="attr: { href: 'information/' + $data.UID }"><img class="img-responsive img-rounded" data-bind="attr: { src: PictureLink(), title: Name() }" /></a>
            <div class="detail">
                <span data-bind="text: BriefName(), attr: { title: Name() } " class="productname"></span>&nbsp;<sup><span data-bind="text: ProductYear()" title="@Application.Views.Product.Index.ModelYearD"></span></sup><br />
                <span data-bind="text: Manufacturer()" title="@Application.Views.Product.Index.ManufacturerD"></span>&nbsp;<span data-bind="text: Category()" title="@Application.Views.Product.Index.CategoryD"></span>&nbsp;<span data-bind="text: Unit()" title="@Application.Views.Product.Index.UnitD"></span>
            </div>
        </li>
    </script>

    <script type="text/html" id="viewimage_product">
        <table class="table table-hover grid-style-0 grid-border-0">
            <tr>
                <td colspan="8"><h4><span data-bind="text: $data.Name()"></span></h4></td>
            </tr>
            <tr>
                <td>@LocaleResources.Contents.Product.Product.Version:</td>
                <td><span data-bind="text: $data.Version()"></span></td>
                <td>@LocaleResources.Contents.Product.Product.ProductYear:</td>
                <td><span data-bind="text: $data.ProductYear()"></span></td>
                <td>@LocaleResources.Contents.Product.Product.Code:</td>
                <td><span data-bind="text: $data.Code()"></span></td>
                <td>@LocaleResources.Contents.Product.Product.LegalCode:</td>
                <td><span data-bind="text: $data.LegalCode()"></span></td>
            </tr>
            <tr>
                <td>@LocaleResources.Contents.Product.Product.Unit:</td>
                <td><span data-bind="text: $data.Unit()"></span></td>
                <td>@LocaleResources.Contents.Product.Product.Color:</td>
                <td><span data-bind="text: $data.Color()"></span></td>
                <td>@LocaleResources.Contents.Product.Product.Category:</td>
                <td><span data-bind="text: $data.Category()"></span></td>
                <td>@LocaleResources.Contents.Product.Product.Manufacturer:</td>
                <td><span data-bind="text: $data.Manufacturer()"></span></td>
            </tr>
            <tr>
                <td class="scroll-y-100px" colspan="8">
                    <span data-bind="text: $data.Description()"></span>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <img class="img-fluid d-block m-auto" data-bind="attr: {src: $data.PictureLink() }" alt="" />
                </td>
            </tr>
        </table>
    </script>
}

@section PagePath {}

<section id="products">
    <div class="container">
        <h2 class="d-flex align-content-start">@LocaleResources.Views.Product.Index.Products</h2>
        @Controls.List.ListComposer.composeList("list_products", "", null, null, "products p-0")
    </div>
    <div style="display: none">
        @Controls.Form.FormComposer.composeForm("__form_product_image", null, null, @SharedLibrary.Resources.Global.FormMessages.ImageViewForm, "<div data-bind=\"template: {name: 'viewimage_product' }\"></div>", "view", null, null, null, false)
        @Controls.List.ListComposer.composeStandardActions(null, "#", true)
        @Controls.List.ListComposer.composeStandardListing(null, "__form_product_image", true, null, "Number, 'continue'", "CurrentList() + 1, 'continue'", "CurrentList() - 1, 'continue'", null)
    </div>
</section>

@section Scripts
{   
    <script src="~/Scripts/ViewModels/Product.js" type="text/javascript"></script>
    <script type="text/javascript">

        var productsView = new CRUDView({
            'uri': '/product',
            'observer': new CRUDObserver({ 'contentType': new Product({}), 'messages': intialize(new MessageRepository()) })
        });

        productsView.getObserverObject().setListSource(productsView);

        $(function () {

            ko.applyBindings(productsView.getObserverObject());

            $('#__form_product_image').dialog({ autoOpen: false, width: 800, height: 700 });

            productsView.load(null, 'continue');
        });
    </script>
}