@using Microsoft.Extensions.Options;
@inject IOptions<Application.Core.Models.Configuration.ApplicationSettings> ApplicationSettings
@{
    ViewBag.Title = "Contact";
}
@section Header
{
    <title>@LocaleResources.Core.Views.Home.Contact</title>

    <style type="text/css">
        #mapdiv {
            width: 100% !important;
            height: 400px;
        }
    </style>
}

@section PagePath
{ }

<section>
    <div class="container">
        <h2 class="d-flex align-content-start">@LocaleResources.Core.Views.Home.ContactD</h2>
    </div>
</section>

@section ContentHeader
{

}

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="panel panel-default">
                    <div id="mapdiv"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 order-0">
                <div class="card">
                    <div class="card-header">
                        <h3 class="d-flex align-content-start">@LocaleResources.Core.Views.Home.Contact</h3>
                        <p class="d-flex align-content-start">@LocaleResources.Core.Views.Home.ContactD</p>
                        <div class="form-group form-row">
                            <div class="col-11 order-0">
                                <span class='d-flex align-content-start' data-bind="template: {name: 'results_messages' }"></span>
                            </div>
                            <div class="col-1 order-1">
                                <span class='d-flex align-content-end' data-bind="template: {name: 'results_processing' }"></span>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12" data-bind='if: Errors().length > 0'>
                                <ul class='errorlist' data-bind="template: {name: 'list_error_messages', foreach: Errors}"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" data-bind="with: getObservableInputObject()">
                        <div class="form-group form-row">
                            <div class="col-12">
                                <label for="fromname" class="d-flex align-content-start label-control">
                                    @LocaleResources.Core.Contents.Email.FromName
                                </label>
                                <input data-bind="value: FromName" id="fromname" type="text" maxlength="50" class="form-control" />
                                <span class="error" data-bind="validationMessage: FromName"></span>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12">
                                <label for="fromemail" class="d-flex align-content-start label-control">
                                    @LocaleResources.Core.Contents.Email.FromEmail
                                </label>
                                <input data-bind="value: FromEmail" id="fromemail" type="email" maxlength="100" class="form-control" />
                                <span class="error" data-bind="validationMessage: FromEmail"></span>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12">
                                <label for="subject" class="d-flex align-content-start label-control">
                                    @LocaleResources.Core.Contents.Email.Subject
                                </label>
                                <input data-bind="value: Subject" id="subject" type="text" maxlength="100" class="form-control" />
                                <span class="error" data-bind="validationMessage: Subject"></span>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12">
                                <label for="message" class="d-flex align-content-start label-control">
                                    @LocaleResources.Core.Contents.Email.Message
                                </label>
                                <textarea data-bind="value: Message" id="message" maxlength="500" rows="3" class="form-control"></textarea>
                                <span class="error" data-bind="validationMessage: Message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button data-bind="click: function(data, event) { create({ 'content':  getObservableInputObject(), 'target': 'sendemail' }); }" id="sendmail" type="button" class="btn btn-primary">
                            @SharedLibrary.Core.Resources.Global.FormMessages.Submit
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6 order-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>@LocaleResources.Core.Views.Contact.Index.OfficeLocation</h4>
                        @ApplicationSettings.Value.AddressLine1<br />
                        @ApplicationSettings.Value.AddressLine2<br />
                        @ApplicationSettings.Value.AddressLine3<br />
                        @SharedLibrary.Core.Resources.Global.FormMessages.Email: <a href="mailto:@ApplicationSettings.Value.ContactEmail">@ApplicationSettings.Value.ContactEmail</a><br />
                        @SharedLibrary.Core.Resources.Global.FormMessages.Phone: @ApplicationSettings.Value.ContactPhone, @SharedLibrary.Core.Resources.Global.FormMessages.Cell: @ApplicationSettings.Value.ContactCell<br />
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>
                            @LocaleResources.Core.Views.Contact.Index.BusinessHours
                        </h4>
                        @ApplicationSettings.Value.BusinessHourLine1<br />
                        @ApplicationSettings.Value.BusinessHourLine2<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript">
        function loadCaptcha() {
            $.ajax({
                type: 'GET', url: '/general/generatecaptcha',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) { $("#captchaimage").attr('src', '/uploads/captchas/' + data); },
                error: function (data) { alert("Error while loading captcha image") }
            });
        };

        function initialize() {
            var mapCanvas = document.getElementById('mapdiv');
            var officeLatLng = new google.maps.LatLng(32.332018, 74.346408);
            var mapOptions = {
                center: officeLatLng,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions)

            var marker = new google.maps.Marker({
                position: officeLatLng,
                map: map,
                title: 'Office Address'
            });
        };
        google.maps.event.addDomListener(window, 'load', initialize);

        //loadCaptcha();
    </script>

    <script src="~/js/models/Email.js" type="text/javascript"></script>

    <script type="text/javascript">

        var emailView = new NewView({
            'uri': '/general',
            'observer': new ObjectObserver({ 'contentType': new Email({}), 'messages': intialize(new MessageRepository()) })
        });

        emailView.getObserverObject().afterEmailSending = function (event, data) {

            if (data.result !== null && data.result !== undefined) {

                emailView.getObserverObject().resetForm();
                emailView.getObserverObject().displaySuccessActivity();
            }
            else {

                emailView.getObserverObject().displayFailureActivity();
            }
        };

        $(function () {

            try {

                ko.applyBindings(emailView.getObserverObject());
            }
            catch (e) {

                console.log(e.message);
            }

            emailView.subscribeEvent('record.after.rendering.view.CRUD.WindnTrees', emailView.getObserverObject().afterEmailSending);

            //loadCaptcha();
        });
    </script>
}