@model Application.Models.EmailTemplates.ResetPasswordModel
@{
    ViewBag.Title = "Account ";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #F8F8F8;
            font-size: 12px;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #0094ff;
        }

        .content {
            max-width: 800px;
            min-height: 400px;
            margin: auto auto;
            color: #808080;
            background-color: #EAEAEA;
            padding: 20px 20px 20px 20px;
        }

        .address, .footer {
            font-size: 10px;
        }

        .hlink {
            color: #0026ff;
            font-size: 10px;
        }
    </style>
</head>
<body>
    <div class="content">
        <br /><br />
        <h2>
            Password Reset Email
        </h2>
        <br /><br />
        <p>
            Dear @Model.FullName,
        </p><br />
        <p>
            In order to reset your password, please confirm your action by clicking on
            the following link.
        </p><br />
        <p class="hlink">
            @Model.ActivationLink
        </p>
        <br />
        <p class="footer">
            This email was sent you on behalf of @Model.Company because you are subscribed to recieve email notifications. To unsubscribe please reply to @Model.UnsubscriptionEmail with
            your user id in subject.
        </p>
    </div>
</body>
</html>
