@using Microsoft.Extensions.Options;
@inject IOptions<Application.Core.Models.Configuration.ApplicationSettings> ApplicationSettings
<!-- FOOTER -->
<footer id="contentfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-0">
                <!-- COLUMN 1 -->
                <div class="row d-flex justify-content-start pl-3 pr-3">
                    <img class="clearfix" src="@Url.Content("~/images/logo.png")" title="@ApplicationSettings.Value.CompanyTitle">
                    <div class="d-block align-content-start">@ApplicationSettings.Value.BreifDescription</div>
                </div>
                <address class="justify-content-start">
                    <div class="d-flex align-content-start">@ApplicationSettings.Value.AddressLine1</div>
                    <div class="d-flex align-content-start">@ApplicationSettings.Value.AddressLine2</div>
                    <div class="d-flex align-content-start">@ApplicationSettings.Value.AddressLine3</div>
                    <div class="d-flex align-content-start">@SharedLibrary.Core.Resources.Global.FormMessages.Email: <a href="mailto:@ApplicationSettings.Value.ContactEmail">@ApplicationSettings.Value.ContactEmail</a></div>
                    <div class="d-flex align-content-start">@SharedLibrary.Core.Resources.Global.FormMessages.Phone: @ApplicationSettings.Value.ContactPhone, @SharedLibrary.Core.Resources.Global.FormMessages.Cell: @ApplicationSettings.Value.ContactCell</div>
                </address>
                <!-- END COLUMN 1 -->
            </div>
            <div class="col-md-4 order-1">
                <!-- COLUMN 2 -->
                <h3 class="footer-heading d-flex justify-content-start p-3" title="@SharedLibrary.Core.Resources.Global.FormMessages.UsefulLinksD">
                    @SharedLibrary.Core.Resources.Global.FormMessages.UsefulLinks
                </h3>
                <div class="justify-content-start">
                    <div class="d-flex align-content-start pl-3 pr-3">@Html.ActionLink(Application.Core.Navigations.Navigation.Home, "index", "home", null, new { title = Application.Core.Navigations.Navigation.Home })</div>
                    <div class="d-flex align-content-start pl-3 pr-3">@Html.ActionLink(Application.Core.Navigations.Navigation.Products, "index", "product", null, new { title = Application.Core.Navigations.Navigation.Products })</div>
                    <div class="d-flex align-content-start pl-3 pr-3">@Html.ActionLink(Application.Core.Navigations.Navigation.News, "index", "news", null, new { title = Application.Core.Navigations.Navigation.News })</div>
                    <div class="d-flex align-content-start pl-3 pr-3">@Html.ActionLink(Application.Core.Navigations.Navigation.Contact, "index", "contactus", null, new { title = Application.Core.Navigations.Navigation.Contact })</div>
                </div>
                <!-- END COLUMN 2 -->
            </div>
            <div class="col-md-4 order-2">
                @*<div class="social-connect">
                        <h3 class="footer-heading">
                            GET CONNECTED
                        </h3>
                        <ul class="list-inline social-icons">
                            <li>
                                <a href="#" class="facebook-bg">
                                    <i class="fa fa-facebook">
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="linkedin-bg">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>*@
                <!-- END COLUMN 3 -->
            </div>
        </div>
    </div>
    <!-- COPYRIGHT -->
    <div class="text-center copyright">
        <span>@ApplicationSettings.Value.CompanyTitle</span>
        <span>@SharedLibrary.Core.Resources.Global.StandardMessages.AllRights</span>
    </div>
    <!-- END COPYRIGHT -->
</footer>
<!-- END FOOTER -->
