<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Shams Zia">
    <link rel="icon" href="@Url.Content("~/favicon.ico")">
    <!-- CSS -->

    @{
        var theme = "native";
        var language = "en";
        var pagedir = "ltr";
        var menu_direction = string.Empty;
        var menu_item_text_align = string.Empty;
        var pull = string.Empty;

        try
        {
            theme = System.Configuration.ConfigurationManager.AppSettings["theme"];
            if (string.IsNullOrEmpty(theme))
            {
                theme = "native";
            }
        }
        catch { }

        try
        {
            language = (string)Session["locale"];
            if (language.StartsWith("ur"))
            {
                pagedir = "rtl";
                pull = "pull-right";
                menu_direction = ".pull-menu-right";
                menu_item_text_align = ".text-aligh-right";
            }
        }
        catch { }
    }

    @Styles.Render(string.Format("~/bundles/{0}/header", theme))
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render(string.Format("~/content/{0}/bootstrap", theme))
    @Styles.Render(string.Format("~/content/{0}/fonts", theme))
    @Styles.Render(string.Format("~/content/{0}/styles", theme))
    
    <!-- IE 9 Fallback-->
    <!--[if IE 9]>
        <link href="assets/css/ie.css" rel="stylesheet">
    <![endif]-->
    <!-- GOOGLE FONTS -->
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700")" rel='stylesheet' type='text/css'>
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400italic,700,400,300")" rel='stylesheet' type='text/css'>

    <!-- FAVICONS -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/content/images/logo.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/content/images/logo.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/content/images/logo.png")">
    <link rel="apple-touch-icon-precomposed" sizes="45x57" href="@Url.Content("~/content/images/logo.png")">
    <link rel="shortcut icon" href="@Url.Content("~/content/images/favicon.png")">

    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header", required: false)
    }
    else
    {
        <title></title>
    }
</head>
<body @pagedir>
    <!-- WRAPPER -->
    <div class="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default" role="navigation">
            <!-- MAIN NAVIGATION -->
            <div id="main-nav" class="navbar-collapse collapse">
                <div class="navbar-header @pull">
                    <a href="@Url.Action("index", "home")">
                        <img src="@Url.Content("~/content/images/logo.png")" class="img-responsive navbar-logo-image" alt="Company">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle Navigation</span> <i class="fa fa-bars"></i>
                    </button>
                </div>

                @Controls.Navs.MenuComposer.composeFromJson(new string[] { Request.MapPath("~/navigations/navigation.json"), Request.MapPath("~/navigations/navigation-right.json") }, User.Identity.Name, (string[])Session["roles"], null, null, "en", true, false)

            </div>
            <!-- END MAIN NAVIGATION -->
        </nav>
        <!-- END NAVBAR -->

        @if (IsSectionDefined("PagePath"))
        {
            @RenderSection("PagePath", required: false)
        }
        else
        {
            //add sitenavigation code here.

            //@Html.MvcSiteMap().SiteMapPath()
        }

        @if (IsSectionDefined("ContentHeader"))
        {
            @RenderSection("ContentHeader", required: false)
        }

        @RenderBody()

        @if (IsSectionDefined("ContentFooter"))
        {
            @RenderSection("ContentFooter", required: false)
        }
        else
        {
            if (pagedir.StartsWith("rtl"))
            {
                @Html.Partial("_FooterRTL")
            }
            else
            {
                @Html.Partial("_Footer")
            }
        }
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    @Scripts.Render(string.Format("~/bundles/{0}/bootstrap", theme))
    
    @RenderSection("KoTemplates", required: false)
    @RenderSection("KoScripts", required: false)
    @RenderSection("KoModels", required: false)
    <script type="text/javascript">
        $(function () {
            function reposition() {
                var modal = $(this),
                    dialog = modal.find('.modal-dialog');
                modal.css('display', 'block');

                // Dividing by two centers the modal exactly, but dividing by three
                // or four works better for larger screens.
                dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
            }
            // Reposition when a modal is shown
            $('.modal').on('show.bs.modal', reposition);
            // Reposition when the window is resized
            $(window).on('resize', function () {
                $('.modal:visible').each(reposition);
            });
        });
    </script>
</body>
</html>