@model Application.Models.LoginViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoSidebar.cshtml";
}
@section Header
{
    <title>@LocaleResources.Views.Login.Index.Page</title>
}

@section Authorization
{
    
}

<div class="row align-items-center login">
    <div class="col-4 m-auto">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            <div class="card">
                <div class="card-header">
                    <h3 class="d-flex align-content-start">@LocaleResources.Views.Account.Login.SignIn</h3>

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                </div>
                <div class="card-body">
                    <div class="form-group form-row">
                        <div class="col-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = LocaleResources.Views.Account.Login.UsernameD, @maxlength = "32" })
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = LocaleResources.Views.Account.Login.PasswordD, @maxlength = "32" })
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-1 form-check">
                            @Html.CheckBoxFor(m => m.RememberMe)
                        </div>
                        <div class="col-11">
                            <small><span class="form-text text-muted d-flex align-content-start">@LocaleResources.Views.Account.Login.SignInBox</span></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control", @placeholder = @SharedLibrary.Resources.Global.FormMessages.CaptchaD, @title = @LocaleResources.Views.Account.Login.CaptchaD, @maxlength = "20" })
                        </div>
                        <div class="col-6">
                            <img id="captchaimage" alt="@SharedLibrary.Resources.Global.FormMessages.CaptchaImageD" src="" title="@SharedLibrary.Resources.Global.FormMessages.CaptchaImageD"
                                 onclick="loadCaptcha();" style="width: 200px; height: 36px;" />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 order-0">
                        </div>
                        <div class="col-6 order-1">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-default btn-primary">@SharedLibrary.Resources.Global.FormMessages.Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function loadCaptcha() {
            $.ajax({
                type: 'GET', url: '/general/generatecaptcha',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) { $("#captchaimage").attr('src', '/uploads/captchas/' + data); },
                error: function (data) { alert("Error while loading captcha image") }
            });
        };

        $(document).ready(function () {
            loadCaptcha();
        });
    </script>
}