@section Header
{
    <title>@LocaleResources.Core.Views.Product.Index.ProductInformation</title>

    <script type="text/html" id="viewimage_product">
        <img class="img-fluid d-block m-auto" data-bind="attr: {src: $data.PictureLink() }" />
    </script>
}

@section PagePath {}

<section class="product">
    <div class="container">
        <h2>@LocaleResources.Core.Views.Product.Index.ProductInformation</h2>

        <div data-bind="with: getObservableObject()">
            <h3><span data-bind="text: $data.Name()"></span></h3>
            <div class="form-row">
                <div class="col-2 order-0 caption"><div class="d-flex align-content-start">@LocaleResources.Core.Contents.Product.Product.Version: <span class="value" data-bind="text: $data.Version()"></span></div></div>
                <div class="col-2 order-1 caption"><div class="d-flex align-content-start">@LocaleResources.Core.Contents.Product.Product.ProductYear: <span class="value" data-bind="text: $data.ProductYear()"></span></div></div>
                <div class="col-2 order-2 caption"><div class="d-flex align-content-start">@LocaleResources.Core.Contents.Product.Product.Code: <span class="value" data-bind="text: $data.Code()"></span></div></div>
                <div class="col-2 order-3 caption"><div class="d-flex align-content-start">@LocaleResources.Core.Contents.Product.Product.LegalCode: <span class="value" data-bind="text: $data.LegalCode()"></span></div></div>
                <div class="col-2 order-4 caption"><div class="d-flex align-content-start">@LocaleResources.Core.Contents.Product.Product.Category: <span class="value" data-bind="text: $data.Category()"></span></div></div>
                <div class="col-2 order-5 caption"><div class="d-flex align-content-start">@LocaleResources.Core.Contents.Product.Product.Manufacturer: <span class="value" data-bind="text: $data.Manufacturer()"></span></div></div>
                <div class="col-2 order-6 caption"><div class="d-flex align-content-start">@LocaleResources.Core.Contents.Product.Product.Unit: <span class="value" data-bind="text: $data.Unit()"></span></div></div>
                <div class="col-2 order-7 caption"><div class="d-flex align-content-start">@LocaleResources.Core.Contents.Product.Product.Color: <span class="value" data-bind="text: $data.Color()"></span></div></div>
            </div>
            <div class="row form-group">
                <div class="col-8 order-first description">
                    <span class="d-flex align-content-start" data-bind="text: $data.Description()"></span>
                </div>
                <div class="col-4 order-last">
                    <img class="img-fluid d-block m-auto" data-bind="attr: {src: $data.PictureLink() }" />
                </div>
            </div>
        </div>

        <h3>@LocaleResources.Core.Views.Product.Index.ProductFeatures</h3>
        <section class="form-row form-group">
            <div class="col-8 order-0">
                <div data-bind="foreach: {data: Features, as: 'feature'}">
                    <div class="form-row form-group feature">
                        <div class="col-3 order-0 feature-text"><span class="d-flex align-content-start" data-bind="text: $data.Name()"></span>: </div>
                        <div class="col-8 order-1 feature-value"><span class="d-flex align-content-start" data-bind="text: $data.Description()"></span> </div>
                    </div>
                </div>
            </div>
            <div class="col-4 order-1" data-bind="visible: Advertisements().length > 0">
                <div id="contentad1" class="carousel slide" data-ride="carousel" style="min-height: 200px;">
                    <div data-bind="foreach: Advertisements" class="carousel-inner" role="listbox">
                        <!-- ko if: $index() == 0 -->
                        <div class="carousel-item active">
                            <a href="#" class="btn btn-lg" data-bind="click: function(data, event) { $parent.setFormObject(data); $('#__form_advertisement_image').dialog('open'); }, attr: { title: Heading() }">
                                <img class="img-fluid img-rounded" data-bind="attr: { src: PictureLink(), title:Heading()  }"
                                     src="#" style="margin: 0px auto" />
                            </a>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $index() > 0 -->
                        <div class="carousel-item">
                            <a href="#" class="btn btn-lg" data-bind="click: function(data, event) { $parent.setFormObject(data); $('#__form_advertisement_image').dialog('open'); }, attr: { title: Heading() }">
                                <img class="img-fluid img-rounded" data-bind="attr: { src: PictureLink(), title:Heading()  }"
                                     src="#" style="margin: 0px auto" />
                            </a>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </section>

        <h3>@LocaleResources.Core.Views.Product.Index.ProductReferences</h3>

        <section class="form-row form-group">
            <div class="col-12">
                <div data-bind="foreach: {data: References, as: 'reference'}">
                    <div class="form-row form-group reference">
                        <div class="col-2 order-0 reference-name"><span class="d-flex align-content-start" data-bind="text: $data.Name()"></span></div>
                        <textarea class="col-6 order-1 reference-desc" data-bind="text: $data.Description()"></textarea>
                        <div class="col-2 order-2 reference-type">
                            <span class="d-flex align-content-start" data-bind="if: Readable()">@LocaleResources.Core.Contents.Reference.Readable</span>
                            <span class="d-flex align-content-between" data-bind="if: Picture()">@LocaleResources.Core.Contents.Reference.Picture</span>
                            <span class="d-flex align-content-end" data-bind="if: AudioVideo()">@LocaleResources.Core.Contents.Reference.AudioVideo</span>
                        </div>
                        <div class="col-2 order-3 reference-download"><a class="green" href="#" data-bind="attr: { href: $data.DownloadLink() }" title="@SharedLibrary.Core.Resources.Global.FormMessages.DownloadD"><i class="fa fa-edit text-success"></i>@SharedLibrary.Core.Resources.Global.FormMessages.Download</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div style="display: none">
        @Controls.Core.Form.FormComposer.composeForm("__form_product_image", null, null, @SharedLibrary.Core.Resources.Global.FormMessages.ImageViewForm, "<div data-bind=\"template: {name: 'viewimage_product' }\"></div>", "view", null, null, null, false)
    </div>
</section>

@section Scripts
{
    <script src="~/js/models/Product.js" type="text/javascript"></script>
    <script src="~/js/models/ProductFeature.js" type="text/javascript"></script>
    <script src="~/js/models/Reference.js" type="text/javascript"></script>
    <script src="~/js/models/Advertisement.js" type="text/javascript"></script>

    <script type="text/javascript">

        var productView = new ObjectView({
            'uri': '/product',
            'objectkey': '@ViewData["ProductID"]',
            'observer': new ObjectObserver({ 'contentType': new Product({}), 'messages': intialize(new MessageRepository()) }),
            'fields': [
                {
                    'uri': '/productfeature',
                    'target': 'selectlist',
                    'query': { 'key': '@ViewData["ProductID"]' },
                    'contentType': new ProductFeature({}),
                    'field': 'Features'
                },
                {
                    'uri': '/reference',
                    'target': 'selectlist',
                    'query': { 'key': '@ViewData["ProductID"]' },
                    'contentType': new Reference({}),
                    'field': 'References'
                },
                {
                    'uri': '/advertisement',
                    'target': 'selectlist',
                    'query': { 'key': '@ViewData["ProductID"]' },
                    'contentType': new Advertisement({}),
                    'field': 'Advertisements'
                }
            ]
        });

        $(function () {

            productView.ExtendFields();

            try {

                ko.applyBindings(productView.getObserverObject());
            }
            catch (e) {

            }
            productView.load();
        });
    </script>
}