@section Header
{
    <title>@LocaleResources.Core.Views.Lists.Index.Page</title>

    <script type="text/html" id="headings">
        <tr>
            <th class="col-5 order-0" scope="col">
                <span class="d-flex align-content-start" title="@LocaleResources.Core.Contents.Color.Name">@LocaleResources.Core.Contents.Color.Name</span>
            </th>
            <th class="col-5 order-1" scope="col">
                <span class="d-flex align-content-start" title="@LocaleResources.Core.Contents.Color.Description">@LocaleResources.Core.Contents.Color.Description</span>
            </th>
            <th class="col-2 order-2" scope="col">&nbsp;</th>
        </tr>
    </script>

    <script type="text/html" id="rows">
        <tr>
            <td><span class="d-flex align-content-start" data-bind="text: Name()"></span></td>
            <td><span class="d-flex align-content-start" data-bind="text: Description()"></span></td>
            <td>
                <div class="hidden-phone visible-desktop action-buttons">
                    <a class="green" href="#" data-bind="click: function(data, event) { $parent.resetFormForEditing($index); }" data-toggle="modal" data-target="#__form" title="@SharedLibrary.Core.Resources.Global.FormMessages.EditD"><i class="fa fa-edit text-success"></i>@SharedLibrary.Core.Resources.Global.FormMessages.Edit</a>
                    <a class="red" href="#" data-bind="click: function(data, event) { $parent.delete($data); }" title="@SharedLibrary.Core.Resources.Global.FormMessages.DeleteD"><i class="fa fa-times text-danger"></i>@SharedLibrary.Core.Resources.Global.FormMessages.Delete</a>
                </div>
            </td>
        </tr>
    </script>

    <script type="text/html" id="formcontent">
        <div class="form-row form-group">
            <div class="col-4 order-0">
                <label class="control-label d-flex align-content-start" for="Name">
                    @LocaleResources.Core.Contents.Color.Name
                </label>
                <input class="form-control col-12" data-bind="value: $parent.EditMode() ? Name : Name" id="Name" type="text" title="@LocaleResources.Core.Contents.Color.Name"
                       maxlength="50" placeholder="" /><span class="error"
                                                                                  data-bind="validationMessage: Name"></span>
            </div>
            <div class="col-8 order-1">
                <label class="control-label d-flex align-content-start" for="Description">
                    @LocaleResources.Core.Contents.Color.Description
                </label>
                <input class="form-control col-12" data-bind="value: $parent.EditMode() ? Description : Description" id="Description" type="text" title="@LocaleResources.Core.Contents.Color.Description"
                       maxlength="255" placeholder="" /><span class="error"
                                                                                   data-bind="validationMessage: Description"></span>
            </div>
        </div>
    </script>
}

@Controls.Core.Grid.GridComposer.composeStandardActions(null, "#__form", false)

@Controls.Core.Grid.GridComposer.composeStandardListing(null, "#__form")

<section class="container-fluid row">

    <div class="col-3 order-0 justify-content-start" data-bind="with: getCurrent().getObserverObject()">
        <div class="container pt-4">
            <h4 class="d-flex align-content-start p-2">@LocaleResources.Core.Views.Lists.Index.Page</h4>
            <ul class="outer-items-list" data-bind="foreach: $root.getCRUDS()">
                <li class="d-flex align-content-start p-2"><a data-bind="click: function(data,event) { $root.selectCRUD({'crudindex': $index() }); find(1); }" href="#"><span data-bind="text: getName()"></span> </a></li>
            </ul>
        </div>
    </div>

    <div class="col-9 order-1">
        <div class="row align-items-center">
            <div class="col-6 order-0 d-flex justify-content-start">
                <span class="h1" data-bind="text: getCurrent().getObserverObject().getName()"></span>
            </div>
            <div class="col-6 order-1 d-flex justify-content-end">
                <nav aria-label="">
                    <ul class="pagination">
                        <li class="order-first page-item"><a class="page-link" data-bind="click: function(data,event) { $root.prevCRUD(); }" href="#">@SharedLibrary.Core.Resources.Global.FormMessages.PrevPage</a></li>
                        <li class="order-last page-item"><a class="page-link" data-bind="click: function(data,event) { $root.nextCRUD(); }" href="#">@SharedLibrary.Core.Resources.Global.FormMessages.NextPage</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <p class="d-flex align-content-start">
            <span data-bind="text: getCurrent().getObserverObject().getTitle()"></span>
        </p>

        <section id="observer-section" data-bind="with: getCurrent().getObserverObject().getObserverObject()">
            
            @Controls.Core.Grid.GridComposer.composeGrid(null, "well", null, null, null, null, null, null, null, null)

            <section data-bind="if: $root.getCurrent().getObserverObject().getType() === 'CRUDView'">

                @Controls.Core.Form.FormComposer.composeForm("__form", null, null, null, "<div data-bind=\"template: {name: 'formcontent' }\"></div>", null, null, null, null, true, false)
                
            </section>

        </section>

    </div>
</section>

@section Scripts {

    <script src="~/js/models/Color.js" type="text/javascript"></script>
    <script src="~/js/models/Category.js" type="text/javascript"></script>
    <script src="~/js/models/Unit.js" type="text/javascript"></script>
    <script src="~/js/models/Manufacturer.js" type="text/javascript"></script>
    <script src="~/js/models/CompanyType.js" type="text/javascript"></script>
    <script src="~/js/models/ReferenceType.js" type="text/javascript"></script>
    <script src="~/js/models/AdvertisementPage.js" type="text/javascript"></script>
    <script src="~/js/models/AdvertisementLocation.js" type="text/javascript"></script>

    <script type="text/javascript">

        var cruds = CRUDSList({
                'cruds': [
                    new CRUDView({
                        'name': reformUniCodeString('@LocaleResources.Core.Views.Lists.Color.Index.Page'), 'title': reformUniCodeString('@LocaleResources.Core.Views.Lists.Color.Index.PageD'),
                        'uri': '/admin/color', 'observer': new CRUDObserver({ 'contentType': new Color({}), 'messages': intialize(new MessageRepository()) })
                    }),
                    new CRUDView({
                        'name': reformUniCodeString('@LocaleResources.Core.Views.Lists.Category.Index.Page'), 'title': reformUniCodeString('@LocaleResources.Core.Views.Lists.Category.Index.PageD'),
                        'uri': '/admin/category',
                        'observer': new CRUDObserver({ 'contentType': new Category({}), 'messages': intialize(new MessageRepository()) })
                    }),
                    new CRUDView({
                        'name': reformUniCodeString('@LocaleResources.Core.Views.Lists.Unit.Index.Page'), 'title': reformUniCodeString('@LocaleResources.Core.Views.Lists.Unit.Index.PageD'),
                        'uri': '/admin/unit',
                        'observer': new CRUDObserver({ 'contentType': new Unit({}), 'messages': intialize(new MessageRepository()) })
                    }),
                    new CRUDView({
                        'name': reformUniCodeString('@LocaleResources.Core.Views.Lists.Manufacturer.Index.Page'), 'title': reformUniCodeString('@LocaleResources.Core.Views.Lists.Manufacturer.Index.PageD'),
                        'uri': '/admin/manufacturer',
                        'observer': new CRUDObserver({ 'contentType': new Manufacturer({}), 'messages': intialize(new MessageRepository()) })
                    }),
                    new CRUDView({
                        'name': reformUniCodeString('@LocaleResources.Core.Views.Lists.CompanyType.Index.Page'), 'title': reformUniCodeString('@LocaleResources.Core.Views.Lists.CompanyType.Index.PageD'),
                        'uri': '/admin/companytype',
                        'observer': new CRUDObserver({ 'contentType': new CompanyType({}), 'messages': intialize(new MessageRepository()) })
                    }),
                    new CRUDView({
                        'name': reformUniCodeString('@LocaleResources.Core.Views.Lists.AdvertisementLocation.Index.Page'), 'title': reformUniCodeString('@LocaleResources.Core.Views.Lists.AdvertisementLocation.Index.PageD'),
                        'uri': '/admin/advertisementlocation',
                        'observer': new CRUDObserver({ 'contentType': new AdvertisementLocation({}), 'messages': intialize(new MessageRepository()) })
                    }),
                    new CRUDView({
                        'name': reformUniCodeString('@LocaleResources.Core.Views.Lists.AdvertisementPage.Index.Page'), 'title': reformUniCodeString('@LocaleResources.Core.Views.Lists.AdvertisementPage.Index.PageD'),
                        'uri': '/admin/advertisementpage',
                        'observer': new CRUDObserver({ 'contentType': new AdvertisementPage({}), 'messages': intialize(new MessageRepository()) })
                    })
                ],
                'observer': new ObjectObserver({})
            });


        $(function () {

            try {

                ko.applyBindings(cruds);
            }
            catch (e) {

                console.log(e.message);
            }

            cruds.getCurrent().getObject().find(1);
        });

    </script>
}