@section Header
{
    <title>@LocaleResources.Core.Views.Role.Index.Page</title>
    <script type="text/html" id="headings">
        <tr>
            <th class="col-2 order-0" scope="col">
                <span class="d-flex align-content-start" title="@LocaleResources.Core.Contents.Account.Role.Id">@LocaleResources.Core.Contents.Account.Role.Id</span>
            </th>
            <th class="col-3 order-1" scope="col">
                <span class="d-flex align-content-start" title="@LocaleResources.Core.Contents.Account.Role.Name">@LocaleResources.Core.Contents.Account.Role.Name</span>
            </th>
            <th class="col-3 order-2" scope="col">
                <span class="d-flex align-content-start" title="@LocaleResources.Core.Contents.Account.Role.NormalizedName">@LocaleResources.Core.Contents.Account.Role.NormalizedName</span>
            </th>
            <th class="col-2 order-3" scope="col">
                <span class="d-flex align-content-start" title="@LocaleResources.Core.Contents.Account.Role.ConcurrencyStamp">@LocaleResources.Core.Contents.Account.Role.ConcurrencyStamp</span>
            </th>
            <th class="col-2 order-4" scope="col">&nbsp;</th>
        </tr>
    </script>

    <script type="text/html" id="rows">
        <tr>
            <td><span class="d-flex align-content-start" data-bind="text: Id()"></span></td>
            <td><span class="d-flex align-content-start" data-bind="text: Name()"></span></td>
            <td><span class="d-flex align-content-start" data-bind="text: NormalizedName()"></span></td>
            <td><span class="d-flex align-content-start" data-bind="text: ConcurrencyStamp"></span></td>
            <td>
                <div class="hidden-phone visible-desktop action-buttons">
                    <a class="green" href="#" data-bind="click: function(data, event) { $parent.resetFormForEditing($index); $('#__form').dialog('open'); }" title="@SharedLibrary.Core.Resources.Global.FormMessages.EditD"><i class="fa fa-edit text-success"></i>@SharedLibrary.Core.Resources.Global.FormMessages.Edit</a>
                    <a class="red" href="#" data-bind="click: function(data, event) { $parent.delete($data); }" title="@SharedLibrary.Core.Resources.Global.FormMessages.DeleteD"><i class="fa fa-times text-danger"></i>@SharedLibrary.Core.Resources.Global.FormMessages.Delete</a>
                </div>
            </td>
        </tr>
    </script>

    <script type="text/html" id="formcontent">
        <div class="form-row form-group">
            <div class="col-12 order-0">
                <label class="control-label d-flex align-content-start" for="Id">
                    @LocaleResources.Core.Contents.Account.Role.Id
                </label>
                <input class="form-control col-12" data-bind="value: $root.EditMode() ? Id : Id" id="Id" type="text" title="@LocaleResources.Core.Contents.Account.Role.Id"
                       maxlength="128" placeholder="" /><span class="error"
                                                              data-bind="validationMessage: Id"></span>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col-12 order-0">
                <label class="control-label d-flex align-content-start" for="Name">
                    @LocaleResources.Core.Contents.Account.Role.Name
                </label>
                <input class="form-control col-12" data-bind="value: $root.EditMode() ? Name : Name" id="Name" type="text" title="@LocaleResources.Core.Contents.Account.Role.Name"
                       maxlength="256" placeholder="" /><span class="error"
                                                              data-bind="validationMessage: Name"></span>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col-12 order-0">
                <label class="control-label d-flex align-content-start" for="NormalizedName">
                    @LocaleResources.Core.Contents.Account.Role.NormalizedName
                </label>
                <input class="form-control col-12" data-bind="value: $root.EditMode() ? NormalizedName : NormalizedName" id="NormalizedName" type="text" title="@LocaleResources.Core.Contents.Account.Role.NormalizedName"
                       maxlength="256" placeholder="" /><span class="error"
                                                              data-bind="validationMessage: NormalizedName"></span>
            </div>
        </div>
        <div class="clear-fix">
        </div>
    </script>
}

<div class="container">
    <h2 class="d-flex align-content-start">@LocaleResources.Core.Views.Role.Index.Page</h2>
    <p class="d-flex align-content-start">@LocaleResources.Core.Views.Role.Index.PageD</p>
</div>

@Controls.Core.Grid.GridComposer.composeGrid(null, null, null, null, null, null, null, null, null, null)

<section style="display: none">
    @Controls.Core.Grid.GridComposer.composeStandardActions(null, "#__form", false, null, null, false)

    @Controls.Core.Grid.GridComposer.composeStandardListing(null, "#__form", true)

    @Controls.Core.Form.FormComposer.composeForm("__form", null, null, null, "<div data-bind=\"template: {name: 'formcontent' }\"></div>", null, null, null, null, false)
</section>

@section Scripts {
    <script src="~/js/models/ApplicationRole.js" type="text/javascript"></script>

    <script type="text/javascript">
        var crudView = new CRUDView({
            'uri': '/admin/role',
            'observer': new CRUDObserver({ 'contentType': new ApplicationRole({}), 'messages': intialize(new MessageRepository()) })
        });
        crudView.getObserverObject().setListSource(crudView);

        $('#__form').dialog({ autoOpen: false, width: "auto", maxWidth: 1000 });

        $(function () {

            try {

                ko.applyBindings(crudView.getObserverObject());
            }
            catch (e) {

                console.log(e.message);
            }

            crudView.find(1);
        });
    </script>
}